@charset "utf-8";

.downloadsPage {
    margin-top: 0px;
}
.downloadsPage .OS {
    background-repeat: no-repeat;
    background-position: left center;
    padding: 20px 0 20px 50px;
    margin: 0;
    line-height: 20px;
    display: block;
    border-bottom: 1px solid #CCCCCC;
}
.downloadsPage .OS a {
    float: right;
    margin-left: 20px;
}
.downloadsPage .OS a[href="#"] {
	color: #CCCCCC;
	pointer-events: none;
}
.downloadsPage .OS.windows {
    background-image: url(../img/os/windows.png);
}
.downloadsPage .OS.mac {
    background-image: url(../img/os/apple.png);
}
.downloadsPage .OS.linuxmint {
    background-image: url(../img/os/linuxmint.png);
}
.downloadsPage .OS.ubuntu {
    background-image: url(../img/os/ubuntu.png);
}
.downloadsPage .OS.fedora {
    background-image: url(../img/os/fedora.png);
}
.downloadsPage .OS.opensuse {
    background-image: url(../img/os/opensuse.png);
}